.home_container_post{
    background-color: #E5E5E5;
    width:100vw;
    height: 700px;
    display: flex;
   justify-content: center;
   align-items: center;
  
}
.post_div{
    width:350px;
    height: 650px;
    background-color:#fff;
    border-radius: 12px;
  

    
   
}
.main_post_div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}
 .cross_div{
padding-left:5%;
padding-top: 8%;
} 


.post_text{
    
    color:#fff;
    font-family: 'Poppins', sans-serif;
    font-size:10px;
    background: linear-gradient(180deg, #13A6A7 33.85%, #00D3A1 100%);
    padding: 20px;
   margin-top:20%;
    line-height:15px;
    text-align: justify;
    border-radius: 12px;
    width:81%;
   
    
    
}
.break{
    border: 1px solid #13A6A7;
  
}
.addpost_text{
    
    color:#fff;
    font-family: 'Poppins', sans-serif;
    font-size:10px;
    background: linear-gradient(180deg, #13A6A7 33.85%, #00D3A1 100%);
    padding: 20px;
    border-radius: 12px;
    width:89%;
    margin-top: 30px;
    margin-left:25px;
    margin: auto;
   
    
    
}
.div_swipe{
    margin-top: 30px;
    
}
.div_swipe > p{

    text-align: center;
    font-size: 10px;
    color: 
    #7E7F81;
    padding-top: 10px;
}
.btn-swipe {
    border:none;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}
.btn_cross{
     border:none;
    background-color: #fff;
}
.img_16{
padding-left:50px;

}
.career_text{
    color:#fff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 15px;
    text-decoration: underline;
   
}
.topic_details_div{
    background-color: 
    #F5F5F5;
    height: 280px;
    width:100%;
    border-radius:8px;

  
}
.main_post_btn{
color: #fff;
background:linear-gradient(180deg, #13A6A7 33.85%, #00D3A1 100%) ;
width:30%;
padding:4px;
border: none;
border-radius: 9px;
}
.post_btn{
    text-align: center;
    padding-top: 15px;
}
.text_1{
    padding: 4px;
    font-size: 12px;
}
.text_3{
    color: #13A6A7;
    font-size: 12px;
    font-weight:600;
    font-family: 'Poppins', sans-serif;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.text_4{
    color: #13A6A7;
    font-size: 12px;
    font-family: 'Poppins', sans-serif; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px; 
}
.text_2{
    padding:5px;
    border-bottom:2px solid  #fff;
}
.check{
   font-size:large;
}
.topic_text{
    color:#c7c4c4;
    font-family: 'Poppins', sans-serif; 
    padding: 10px;
}
.title_addpost{
    color: #13A6A7;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-top:35px;
    padding-bottom: 50px;
    font-size:18px;
    font-weight:800px;
}
.text_addpost2{
    color:#5C5F62;
    text-align: justify;
    padding:12px;
}
.grp_images{
    padding:12px;

}
